html, body, li, img, ul, a, div, hr, head
{
    padding: 0;
    margin: 0;
    border: 0;
}

html, body
{
    width: 100%;
    height: 100%;
}

.navigation a
{
    text-decoration: none;
    color: white ;
    font-weight: normal;
}

.navigation
{
    padding: 40px 0 0 40px;
    height: 100%;
    width: 95%;
    
}

.main-image img
{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(80%);
}

.other-mid h1
{
    padding-top: 15%;
    padding-right: 20px;
    padding-left: 600px;
    font-size: 80px;
    color: white;
    text-align: center;
    width: 600px;
    margin: 0;
    height: 10px;
    font-family: 'Open Sans', sans-serif;;
}
.left
{
    padding: 0 90px 0 20px;
    color: white;
    font-size: 25px;
    font-family: 'Gentium Book Plus', serif;
}

.home
{
    padding-top: 10px;
    padding-right: 30px ;
    padding-left: 1320px;
    font-size: 25px;
    font-family: 'Gentium Book Plus', serif;
}

.menu
{
    padding-top: 10px;
    padding-right: 30px;
    font-size: 25px;
    font-family: 'Gentium Book Plus', serif;
}

.contact
{
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Gentium Book Plus', serif;
}


.navigation p
{
    font-size: 30px;
    padding: 0;
    margin: 0;
    font-family: 'Gentium Book Plus', serif;
}


.navigation hr
{
    height: 10px;
    border: 0;
    border-top: 3px solid white;
    padding: 20px 10px 0 20px;
    margin: 0;
}


















.bread-container
{
    display: flex;
    align-items: flex-start;
    width: 100%;
    background-color: #010101;
    flex-wrap: nowrap;
    position: relative;
}
.container-image 
{
    
    width: 40%;
    height: 100%;
    object-fit: cover;
    align-self: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
}
.container-text
{
    width: 100%;
}
.bread-header
{
    padding-left: 100px;
    padding-top: 100px;
    font-size: 65px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.bread-paragraph
{
    padding-left: 100px;
    color: white;
    font-weight: normal;
    font-size: 28px;
    padding-right: 80px;
    font-family: 'Kalam', cursive;
}

.pineapple-container
{
    display: flex;
    align-items: flex-start;
    width: 100%;
    background-color: #121212;
    flex-wrap: nowrap;
    
}

.pineapple-text
{
    width: 100%;

}
.pineapple-header
{
    padding-left: 100px;
    padding-top: 100px;
    font-size: 65px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.pineapple-paragraph
{
    padding-left: 100px;
    color: white;
    font-weight: normal;
    font-size: 28px;
    padding-right: 80px;
    font-family: 'Kalam', cursive;
}

.pineapple-image
{
    
    width: 40%;
    height: 100%;
    object-fit: cover;
    flex-grow: 0;
    flex-shrink: 0;
}
.pasta-container
{
    display: flex;
    align-items: flex-start;
    width: 100%;
    background-color: #212121;
    flex-wrap: nowrap;
}
.pasta-image
{
    width: 40%;
    height: 60%;
    object-fit: cover;
    flex-grow: 0;
    flex-shrink: 0;
}

.pasta-text
{
    width: 100%;
}

.pasta-header
{
    padding-top: 100px;
    padding-left: 100px;
    font-size: 65px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.pasta-paragraph
{
    padding-left: 100px;
    color: white;
    font-weight: normal;
    font-size: 28px;
    padding-right: 80px;
    font-family: 'Kalam', cursive;
}

